#container{
        background-color: lightgray;
        width: 80%;
        height: 1000px;
        margin-left: auto;
        margin-right: auto;
}
.main-logotype{
        float: left;
        width: 20%;
        height: 50px;
        background-color: brown;
}

.top-bar{
        float: left;
        width: 60%;
        height: 50px;
        background-color: aqua;
}

.btn-toolbar{
        background-color: bisque;
        margin-top: 100px;
}
        