#container{
        background-color: lightgray;
        height: 1000px;
}
.main-logotype{
        float: left;
        width: 20%;
        height: 50px;
        background-color: brown;
}

.top-bar{
        float: right;
        width: 60%;
        height: 50px;
        background-color: aqua;
        
}
#bild{
    heght:2000px;
    width: 100%;
    position: absolute;
}

#categories{
        float: left;
        background-color: bisque;
}

#tsbox{
    width: 75%;
    background-color: palevioletred;
    float: left;
    margin-top: 100px;
    margin-right: 200px;
        
}
footer{
    text-align: center;
    padding: 10px;
    float: left;
    margin-top: 85%;
    background-color: chartreuse;
    clear: both;
}

li{
    display: inline;
}