#container{
        background-color: lightgray;
        height: 800px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
}
.main-logotype{
        float: left;
        text-align: center;
        width: 60%;
        height: 50px;
        background-color: brown;
}

.top-bar{
        float: right;
        width: 40%;
        height: 50px;
        background-color: aqua;
        
}


#categories{
        float: left;
        background-color: bisque;
        margin-top: 80px;
        width: 100%;
}

.catpic{
        width: 300px;
        height: 250px;
        padding: 5px;
}

li{
    display: inline;
}

.about_us{
    height: 200px;
    width: 60%;
    background-color: skyblue;
    float: left;
}

.rules{
    height: 200px;
    width: 40%;
    background-color: darkseagreen;
    float: left;
}
footer{
    text-align: center;
    padding: 10px;
    float: left;
    background-color: chartreuse;
    clear: both;
    width: 100%;
}

#tsbox{
    width: 75%;
    background-color: palevioletred;
    float: left;
    margin-top: 100px;
    margin-right: 200px;
}