/*Innehållsförteckning:*/
/* 1. Pers box (Rad 20-147)*/
/* 2. */

#elem{
        position:fixed;
        widht:0px;
        height:0px;
}
textarea {
    resize: none;/* completely disable resize */
    padding: 3px;
    width: 100%;
}

#boxbutt{
    color: aqua; /* Fortsätt härifrån */
}
  
label.myLabel input[type="file"] {
        position: fixed;
        top: -1000px; 

        resize: none;/* completely disable resize */
        resize:vertical; /* disable horizontal resize */
        resize:horizontal; /* disable vertical resize */
        padding: 3px;
        width: 100%;
        resize: none;
}

#boxbutt{
        color: aqua; /* Fortsätt härifrån */
}
  
label.myLabel input[type="file"] {
        position: fixed;
        top: -1000px; 
}

#uploadbutt{
        margin-right:150px;
        background: #3498db;
        background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
        background-image: -moz-linear-gradient(top, #3498db, #2980b9);
        background-image: -ms-linear-gradient(top, #3498db, #2980b9);
        background-image: -o-linear-gradient(top, #3498db, #2980b9);
        background-image: linear-gradient(to bottom, #3498db, #2980b9);
        -webkit-border-radius: 5;
        -moz-border-radius: 5;
        border-radius: 5px;
        font-family: Arial;
        color: #ffffff;
        font-size: 10px;
        padding: 8px 20px 10px 20px;
        text-decoration: none;

}


#form1{
        width: 400px;
        height: 250px;
        background-color:dodgerblue;
        border: 1px #000000 solid;
        padding: 10px;


        -webkit-border-radius: 18px 18px 18px 18px;
        -moz-border-radius: 18px 18px 18px 18px;
        border-radius: 18px 18px 18px 18px;
        background-color: #3498db;
        border: 1px #000000 solid;
        padding: 10px;


        -webkit-border-radius: 18px 18px 18px 18px;
        -moz-border-radius: 18px 18px 18px 18px;
        border-radius: 18px 18px 18px 18px;


        -moz-box-shadow: 0px 1px 7px 0px #121010;
        -webkit-box-shadow: 0px 1px 7px 0px #121010;
        box-shadow: 0px 1px 7px 0px #121010;

}



#jsaddfile{
/*Javascriptboxen välj fil-knapp. Ser till att knappen får en bestämd storlek*/
        max-width: 200px;

}


#jsaddcomment{
/*Javascriptboxen submitknapp*/
        color: white;
        margin-top: 5px;
        background-color: limegreen;
        border-radius: 5px;
        border: none;
}

#jsclose{
/*Javascriptboxens stängknapp*/
        float: right;
        color: white;
}

h1{
    padding:1%;
    width:100%;
}

p{
    padding:1%;
    text-align: left;
}

#threadcontent{
/*Behåller trådtext inuti trådboxen i singlethread*/
    padding:1%;
    text-align: left;
    max-width: 100%;
    overflow:visible;
    -ms-word-break: break-all;
    word-break: break-all;
    overflow:hidden;

    

 /* Non standard for webkit */
     word-break: break-word;

    -webkit-hyphens: auto;
       -moz-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
}

#tstextoverview{
/*Behåller trådtext inuti trådboxen i threadoverview*/
    padding:1%;
    text-align: left;
    max-width: 100%;
    overflow:visible;
    -ms-word-break: break-all;
    word-break: break-all;
  

 /* Non standard for webkit */
     word-break: break-word;

    -webkit-hyphens: auto;
       -moz-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
}

#container{
/*Behållare för helheten av sidan*/
        background-color:;
        width: 90%;
        height: auto;
        margin-left: 5%;
        margin-right: 5%;
}
.main-logotype{
/*Styling till överskriften på sidan*/
        
        float: left;
        text-align: right;
        width: 60%;
        height: 70px;
        font-size: 50px;
        color: black;
        border-bottom-style: groove;
        border-bottom-color: #154175;
        border-width: thin; 
}

.main-logotype:hover{
        text-decoration: none;
}

.tsreplybuttoverview{
  
        padding:10px;  
}






.top-bar{
/*Styling till Feedback och Om oss knapp*/
        float:right;
        width: 40%;
        height: 70px;
        border-bottom-style: groove;
        border-bottom-color: #154175;
        border-width: thin;
         
}

.middle-bar{
/*Var tillämpas detta? */
        float: left;
        margin-top: 80px;
        margin-bottom: -116px;
        width:99%;
}

.nav-text{
/*Klass. Styling till Feedback och Om oss knapp*/
        margin-top: 15px;
        margin-left: 10px;
        color:white;
        background-color: #154175;
        border: 1px solid black;
        
}


#feedback{
/*Fäster Feedback och Om oss knapp upp till höger*/
        margin-left: 160px;
}

.nav-butt{
/*Storlek på knapparna Feedback och Om oss*/
        width:33%;        
        text-align: center;
        
}
        

.categories{
/*Div box till kategoriknapparna*/
        float: left;
        background-color:;
        margin-top: 24px;
        margin-bottom:;
        width: 100%;
        text-align: center;
        
}

.catpic{
/*Klass. Lägger kategoribilderna i ordning*/
        width: 33%;
        height: 125px;
        padding: 5px;
        float: left;
        
        
}

#threadtitle{
        resize: none;
        padding: 3px;
        width: 280px;
        height: 30px;
}

#threadtext{
        resize: none;
        padding: 3px;
        width: 800px;
        height: 200px;
    
}

#createthreada{
        background-color: limegreen;
        color:white;
        border-radius: 10px;
        border: none;
        height:10px;
        margin-bottom: 20px;
        font-size:35px;
        text-align: left;
        padding-top: 10px;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 10px;
}

#createthreada:hover{
        text-decoration: none;
        background-color: darkgreen;
}

#threadcategori{
/*Centrerar texten för vilken kategori vi är i*/
        text-align: center;
        margin-top: 0px;
        
        
}

li{
/*Stylar så att kategoribilderna justeras efter webbläsarens bredd*/
        display:inline;
        float: left;
        
}


.about_us{
/*Klass. Stylar div-rutan About Us*/
        margin-top: 15px;
        height: 250px;
        width: 60%;
        
        float: left;
        border-style: groove;
        border-color: #154175;
        border-width: thin;
    
}


.rules{
/*Klass. Stylar div-rutan Rules*/
        margin-top: 15px;
        height: 250px;
        width: 40%;
        background-color:;
        float: left;
        border-style: groove;
        border-color: #154175;
        border-left: none;
        border-width: thin;
}

h2{
/*Stylar h2-överskrift. Tex. i About Us och Rules*/
        margin-left: 10px;
        
}

#creathead{
/*Shortcut lösning för att rubriken inte ska hoppa i createthread*/
        margin-top: 0px;
}

#errorhead{
/*Shortcut lösning för att rubriken inte ska hoppa i createthread*/
        margin-top: 0px;
        padding-top: 13%;
}

#footer{
/*Stylar fothuvudet*/
        text-align: center;
        margin-top: 50px;
        padding: 8px;
        float: left;
        clear: both;
        width: 100%;
    
}

#createfooter{
/*Stylar skapad av footer*/
        text-align: center;
        padding: 5px;
        float: left;
        clear: both;
        width: 100%;
        height: 500px; /*Till för att skapa scroller på höger sida för att bredden ska vara samma på alla tpl*/
}

.likebox{
/*Likebox stylar allt inne i forumtråden i översikten*/
        width: 70%;
        background-color:white;
        float: left;
        margin-top: 20px;
        padding: 5px;
        text-align: left;

    
}

#tsboxen, .tsboxoverview{
/*Ger trådarna ram runt om */
        border-style: groove;
        border-color: #154175;
        border-width: thin;
        border-radius: 5px;
        height:auto;
        overflow-x: hidden;
        
        
    
}

#tsboxen>img, .tsboxoverview>p{
        padding: 1%;
}

.singlethreadbox{
/*Stylar forumtråden på enskild tråd*/
        width: 97%;
        background-color:white;
       
       
        padding: 5px;
        text-align: left;
       
        
    
}

.threadcomment, .threadcommentoverview{
/*Orginal kommentar i forumtråden*/
        background-color: #B5BCCB;
        
        margin-top:10px;
        border-style: groove;
        border-color: #154175;
        border-width: thin;
        border-radius: 5px;
    border-style: groove;
        border-color: #154175;
        border-width: thin;
        border-radius: 5px;
        height:auto;
        overflow-x: hidden;
        
}

.threadcommentoverview>p{
        margin-left:10px;
}


.threadcomment>p{
/*Ger marginal till orginalkommentaren till vänster.*/
        margin-left:10px;
}

.threadcomment>a{
/*Indenterar orginalkommentaren*/
        margin-left:95%;   
}

.tsimgoverview, .commentimgoverview{
/*Stylar så bilderna har fast storlek i trådöversikt*/
        width: 380px;
        height: auto;
        padding: 1%;
        float:left;
        
}

.singleboximg{
        width: 420px;
        height: auto;
        padding: 1%;
        float:left;
        overflow:hidden;
        
}
#replythread{
/*Indenterar knappen att svara på orginalkommentaren*/
        margin-left:84%;   
}

.likebox>hr{
/*Ger en understruken linje att avskilja kommentarer i en forumtråd*/
        border-style: groove;
        border-width: thin;
}
.commentcomment{
/*Stylar kommentarers kommentar i en tråd*/
        background-color: #E7EAF0;
        margin-left: 40px;
        height: auto;
        border-style: groove;
        border-color: #154175;
        border-width: thin;
        border-radius: 5px;
}

.commentcomment>p{
/*Indenterar kommentarers kommentar*/
        margin-left:10px;
        padding-top: 10px;
}

.latestpost{
/*Styling för senast inlägg*/
        background-color: #E7EAF0;
        border-style: groove;
        border-color: #154175;
        border-width: thin;
        float:right;
        width: 28%;
        margin-top: 25px;
        border-radius: 5px;
        padding: 5px;
        height: 400px;
        margin-left: 2%;
}

.pagination{
/*Styling för knapparna till sidvisning(Föredetta pages)*/
        clear: both;
        float: left;
        padding: 8px;
        
}

/*Ändrat färgen på pagination i boostrap dokumentet. Fick inte till att ändra härifrån*/

#pages{
/*Centrerar sidvisning-knapparna*/
        margin-left: 33%;
        
}

.likebox>a{
        text-align: right;
}

.feedbackthanks{
        margin-top:200px;
        font-size:75px;
}

#contacthead, #abouthead{
/*Designar h1 taggen i Feedback*/
        margin-top: 0px;
}

#inputmail{
/*Designar e-mail rutan i Feedback*/
    width: 30%;
}
#inputtext{
/*Designar textrutan rutan i Feedback*/
    width: 600px;
    height: 150px;
}
#inputsubmit{
/*Designar submitknappen rutan i Feedback*/
    margin-left: 480px;
    color: white;
    margin-top: 5px;
    background-color: limegreen;
    border-radius: 5px;
    border: none;
    font-size: 20px;
}
#inputreset{
/*Designar resetknappen rutan i Feedback*/
    color: white;
    margin-top: 5px;
    background-color: orangered;
    border-radius: 5px;
    border: none;
    
}